n8n/avmd-clara-renovacao-handler.workflow.json
{
  "name": "AVMD - Clara Renovacao Handler",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "avmd-clara-renovacao",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-node",
      "name": "Clara Handler Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        320,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "function firstName(name) {\n  return String(name || 'cliente').trim().split(/\\s+/)[0] || 'cliente';\n}\nconst data = $json;\nconst ctx = data.context || {};\nconst nome = firstName(data.customer_name);\nconst link = ctx.link_renovacao || ctx.link_pagamento || ctx.link_checkout || ctx.link_nova_emissao || null;\nlet reply = '';\nif (data.intent === 'seguir_renovacao') {\n  reply = link\n    ? 'Olá, ' + nome + '. Vamos continuar sua renovação por aqui. Segue novamente o link para avançar: ' + link\n    : 'Olá, ' + nome + '. Recebi seu retorno sobre a renovação. Vou seguir com você por aqui e, se precisar, envio novamente o link de continuidade.';\n} else if (data.intent === 'enviar_documentos') {\n  reply = 'Olá, ' + nome + '. Pode me enviar os documentos por este canal. Assim que eu receber, sigo com sua renovação e te atualizo aqui.';\n} else {\n  reply = link\n    ? 'Olá, ' + nome + '. Estou seguindo seu atendimento de renovação. Se quiser, já pode usar este link: ' + link\n    : 'Olá, ' + nome + '. Estou seguindo seu atendimento de renovação por aqui. Se precisar de link ou orientação, eu te envio na sequência.';\n}\nreturn [{ json: { ...data, reply_text: reply, reply_subject: 'Continuidade da renovacao', event_type: 'automation.trigger', entity_type: 'renovacoes' } }];"
      },
      "id": "prepare-node",
      "name": "Prepare Clara Reply",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        620,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.certiid.mantovan.com.br/api/communication/outbox",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ ({ channel: 'whatsapp', provider: 'n8n', to_address: $json.customer_phone || '00000000000', subject: $json.reply_subject || null, body: $json.reply_text, payload: { source: 'clara', conversation_id: $json.conversation_id || null, message_id: $json.message_id || null, intent: $json.intent || null, route_target: $json.route_target || null, context: $json.context || {} } }) }}",
        "options": {}
      },
      "id": "outbox-node",
      "name": "Queue WhatsApp Reply",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        920,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.certiid.mantovan.com.br/api/integrations/events",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ ({ domain: 'automation', provider: 'n8n', direction: 'inbound', event_type: $json.event_type || 'automation.trigger', entity_type: $json.entity_type || null, entity_id: $json.context?.renovacao_id || $json.context?.agendamento_id || null, correlation_id: $json.conversation_id || null, payload: { customer_name: $json.customer_name, customer_phone: $json.customer_phone, intent: $json.intent, route_target: $json.route_target, message_text: $json.message_text, context: $json.context || {} }, metadata: { workflow: $workflow.name } }) }}",
        "options": {}
      },
      "id": "event-node",
      "name": "Log Clara Event",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1180,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ ({ ok: true, workflow: $workflow.name, customer_phone: $json.customer_phone || null, intent: $json.intent || null, route_target: $json.route_target || null, reply_text: $json.reply_text || null }) }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "respond-node",
      "name": "Ack Clara Flow",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1440,
        300
      ]
    }
  ],
  "connections": {
    "Clara Handler Webhook": {
      "main": [
        [
          {
            "node": "Prepare Clara Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Clara Reply": {
      "main": [
        [
          {
            "node": "Queue WhatsApp Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Queue WhatsApp Reply": {
      "main": [
        [
          {
            "node": "Log Clara Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Clara Event": {
      "main": [
        [
          {
            "node": "Ack Clara Flow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": false,
  "versionId": "1"
}