n8n/avmd-timeout-checker.workflow.json
{
  "name": "AVMD - Timeout Checker",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 2
            }
          ]
        }
      },
      "id": "schedule-node",
      "name": "Check every 2 min",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.N8N_WEBHOOK_URL || 'https://api.certiid.mantovan.com.br' }}/api/chat/crm/check-timeout",
        "sendBody": true,
        "bodyParameters": {
          "parameters": []
        },
        "options": {}
      },
      "id": "http-node",
      "name": "Check Timeout",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [500, 300]
    },
    {
      "parameters": {
        "jsCode": "const result = $json;\nif (result.triggered > 0) {\n  console.log(`Timeout checker acionou Clara para ${result.triggered} conversa(s):`, result.conversation_ids);\n} else {\n  console.log('Timeout checker: nenhuma conversa pendente.');\n}\nreturn [{ json: { ok: true, checked: true, triggered: result.triggered } }];"
      },
      "id": "log-node",
      "name": "Log Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [750, 300]
    }
  ],
  "connections": {
    "Check every 2 min": {
      "main": [
        [
          {
            "node": "Check Timeout",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Timeout": {
      "main": [
        [
          {
            "node": "Log Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": false,
  "versionId": "1"
}
